/* Define the Panton font */
@font-face {
  font-family: "Panton";
  src: url("../fonts/panton-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  font-style: normal;
  background: #FAFAFA;
  font-family: "Panton", sans-serif;
  font-style: normal;
  line-height: normal;
}

.body-continer {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #000000;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.container {
  max-width: 1320px;
  width: 100%;
  padding: 0px 20px;
}

.primary-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  height: 46px;
  border-radius: 15px;
  transition: 0.3s;
  color: #FFFFFF;
  width: 115px;
  border: 1px solid #000;
  background: #1D417F;
}
.primary-btn:hover {
  color: #1D417F;
  background: #F5F5F5;
  border: 1px solid #1D417F;
}

.section-title h2 {
  font-size: 50px;
  font-weight: 700;
  letter-spacing: -1px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.section-title p {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}
.section-title.center {
  text-align: center;
}

.slick-track {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 22px;
}

/*-- header style start --*/
.header-section {
  background: #FFFFFF;
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px;
}
.header-inner .header-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 45px;
}
.header-inner .header-menu {
  max-width: 560px;
  width: 100%;
}
.header-inner .header-menu ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}
.header-inner .header-menu ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 14px;
  gap: 6px;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.28px;
  border-radius: 23px;
  transition: 0.3s;
}
.header-inner .header-menu ul li a:hover {
  background: rgba(29, 65, 127, 0.05);
}
.header-inner .header-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}
.header-inner .header-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  height: 46px;
  border-radius: 15px;
  transition: 0.3s;
}
.header-inner .header-btn.view-btn {
  width: 129px;
  color: #000000;
  background: #F5F5F5;
  border: 1px solid #F5F5F5;
}
.header-inner .header-btn.view-btn:hover {
  color: #1D417F;
  background: #F5F5F5;
  border: 1px solid #1D417F;
}
.header-inner .header-btn.talk-btn {
  color: #FFFFFF;
  width: 115px;
  border: 1px solid #000;
  background: #1D417F;
}
.header-inner .header-btn.talk-btn:hover {
  color: #1D417F;
  background: #F5F5F5;
  border: 1px solid #1D417F;
}

/*-- header style end --*/
/*-- banner style start --*/
.banner-section {
  padding-top: 68px;
}

.banner-avaters ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
  margin-left: 15px;
}
.banner-avaters ul li {
  margin-left: -15px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
}
.banner-avaters ul li img {
  height: 100%;
  width: 100%;
}
.banner-avaters ul li:nth-child(1) {
  z-index: 2;
  height: 43px;
  width: 43px;
}
.banner-avaters ul li:nth-child(2) {
  z-index: 2;
  height: 48px;
  width: 48px;
}
.banner-avaters ul li:nth-child(3) {
  z-index: 3;
  height: 52px;
  width: 52px;
}
.banner-avaters ul li:nth-child(4) {
  z-index: 4;
  height: 57px;
  width: 57px;
}
.banner-avaters ul li:nth-child(5) {
  z-index: 3;
  height: 52px;
  width: 52px;
}
.banner-avaters ul li:nth-child(6) {
  z-index: 2;
  height: 48px;
  width: 48px;
}
.banner-avaters ul li:nth-child(7) {
  z-index: 1;
  height: 43px;
  width: 43px;
}

.banner-text {
  text-align: center;
  margin-bottom: 60px;
}
.banner-text h1 {
  position: relative;
  padding-left: 30px;
  text-align: center;
  font-size: 60px;
  font-weight: 900;
  letter-spacing: -1.2px;
  text-transform: uppercase;
  max-width: 849px;
  margin: auto;
  margin-bottom: 12px;
  color: #000000;
}
.banner-text h1 img {
  position: absolute;
  top: 5px;
  left: 5px;
}
.banner-text p {
  color: #1C1C1C;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  max-width: 541px;
  margin: auto;
  margin-bottom: 20px;
}
.banner-text .banner-btn {
  margin: auto;
  width: 145px;
  height: 49px;
  margin-bottom: 10px;
}
.banner-text h6 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  color: #1C1C1C;
  font-size: 14px;
  font-weight: 600;
  margin-top: 15px;
}

/*-- banner style end --*/
/*-- portfolio style start --*/
.get-start-badge {
  position: relative;
}
.get-start-badge-inner {
  position: absolute;
  right: 0px;
  top: -50px;
}
.get-start-badge-inner .badge {
  height: 142px;
  width: 142px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1D417F;
  border: 1px solid #000000;
  border-radius: 50%;
  position: relative;
  padding: 5px;
  overflow: hidden;
}
.get-start-badge-inner .badge .arrow-down {
  position: absolute;
}
.get-start-badge-inner .badge .rotate-text {
  position: absolute;
  height: 155px;
  width: 155px;
  animation: rotate360 50s linear infinite;
}

.portfolio-section {
  margin: 0px -22px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.portfolio-section .portfolio-content {
  padding: 0px 22px;
}
.portfolio-section .portfolio-content.left {
  margin-top: 117px;
  width: 35%;
}
.portfolio-section .portfolio-content.center {
  width: 28.5%;
}
.portfolio-section .portfolio-content.right {
  margin-top: 20px;
  width: 36.5%;
}
.portfolio-section .portfolio-img {
  width: 100%;
  margin-bottom: 42px;
  border-radius: 20px;
  background: #FFF;
  box-shadow: 14px 14px 128px 0px rgba(5, 22, 49, 0.08);
}
.portfolio-section .portfolio-img:nth-last-child(1) {
  margin-bottom: 0px;
}
.portfolio-section .portfolio-img img {
  width: 100%;
}

@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(3600deg);
  }
}
/*-- portfolio style end --*/
/*-- statistics style start --*/
.statistics-content {
  position: relative;
}
.statistics-content .shape {
  transform: rotate(-11.82deg);
  position: absolute;
  right: 0px;
  top: -50px;
  z-index: 0;
  width: 50px;
}

.statistics-card {
  border-radius: 20px;
  background: #F1F5F9;
  padding: 44px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}
.statistics-card .statistics-col {
  padding: 0px 10px;
  text-align: center;
  width: 25%;
  border-right: 1px solid rgba(29, 65, 127, 0.13);
}
.statistics-card .statistics-col:nth-last-child(1) {
  border: none;
}
.statistics-card .statistics-col p {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.18px;
}
.statistics-card .statistics-col h3 {
  font-size: 60px;
  font-weight: 700;
  letter-spacing: -1.2px;
  text-transform: uppercase;
}
.statistics-card .statistics-col h3 span {
  color: #1D417F;
  font-family: system-ui;
}

/*-- statistics style end --*/
/*-- service style start --*/
.services-section {
  padding: 100px 0px;
}
.services-section .section-title {
  max-width: 545px;
  width: 100%;
  margin: auto;
}

.services-content {
  margin-top: 50px;
}
.services-content ul {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.services-content ul li {
  width: 33.33%;
}

.service-card {
  border-radius: 14px;
  border: 1px solid #000;
  background: #FFF;
  padding: 24px;
  transition: 0.3s;
}
.service-card .service-icon {
  border-radius: 16px;
  background: rgba(231, 229, 228, 0.5);
  height: 78px;
  width: 78px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
  transition: 0.3s;
}
.service-card h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 129.167%;
  letter-spacing: -0.24px;
  max-width: 272px;
  margin-bottom: 10px;
  transition: 0.3s;
}
.service-card p {
  color: #1C1C1C;
  font-size: 16px;
  font-weight: 400;
  line-height: 137.5%;
  transition: 0.3s;
}
.service-card .service-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 19px 20px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.16px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.16px;
  margin-top: 96px;
  border-radius: 120px;
  border: 1.5px solid #000000;
  background: #FAFAFA;
  transition: 0.3s;
  color: #000000;
}
.service-card:hover {
  background: #1D417F;
}
.service-card:hover .service-icon {
  background: #FFFFFF;
}
.service-card:hover h3 {
  color: #FFFFFF;
}
.service-card:hover p {
  color: #F5F5F5;
}
.service-card:hover .service-btn {
  border: 1.5px solid #FFF;
  background: #FFF;
  color: #1D417F;
}

/*-- service style end --*/
/*-- portfolio-highlights style start --*/
.portfolio-highlights {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.portfolio-highlights-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 78px;
}
.portfolio-highlights-heading .section-title {
  max-width: 650px;
}
.portfolio-highlights-heading .view-btn {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20%;
  border-radius: 50%;
  border: 1.5px solid #17191A;
  height: 142px;
  width: 142px;
  overflow: hidden;
  color: #17191A;
  font-size: 16px;
  line-height: normal;
  transition: 0.4s;
}
.portfolio-highlights-heading .view-btn span {
  font-weight: 600;
  letter-spacing: -0.32px;
  text-align: left;
  transition: 0.4s;
}
.portfolio-highlights-heading .view-btn u {
  font-weight: 700;
  text-align: right;
  transition: 0.4s;
}
.portfolio-highlights-heading .view-btn:hover span {
  animation: moveRight 0.3s;
  transform: translateX(27px);
}
.portfolio-highlights-heading .view-btn:hover u {
  animation: moveLeft 0.3s;
  transform: translateX(-27px);
}

.portfolio-highlights-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.avater {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  overflow: hidden;
}
.avater.mobile {
  display: none;
}
.avater.desktop {
  position: absolute;
  bottom: 54%;
  right: 50%;
}
.avater img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  border-radius: 50%;
}

@keyframes moveRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(27px);
  }
}
@keyframes moveLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-27px);
  }
}
.portfolio-highlights {
  padding-bottom: 63px;
}

.portfolio-highlights-contents {
  padding: 0px -22px;
}

.portfolio-item {
  padding: 0px 22px;
  margin-bottom: 37px;
}
.portfolio-item-2 {
  position: relative;
}
.portfolio-item-2 .shape {
  transform: rotate(-168.18deg);
  position: absolute;
  right: 0px;
  top: 13%;
  z-index: 0;
}
.portfolio-item-3 {
  margin-top: -110px;
}

.portfolio-item-card {
  position: relative;
  z-index: 1;
}

.portfolio-item-img img {
  width: 100%;
}

.portfolio-item-text {
  max-width: 568px;
  padding: 24px;
}
.portfolio-item-text h6 {
  color: #939393;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.32px;
  padding-left: 14px;
  margin-bottom: 12px;
  position: relative;
}
.portfolio-item-text h6::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 12px;
  left: 0px;
  top: 7px;
  background: #939393;
}
.portfolio-item-text h4 {
  color: #17191A;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: -0.32px;
}

/*-- portfolio-highlights style end --*/
/*-- about-section style start --*/
.about-section {
  border-radius: 20px 20px 0px 0px;
  background: #F5F5F5;
  padding: 50px 0px;
}

.about-header {
  position: relative;
}
.about-header .section-title {
  max-width: 565px;
  margin: auto;
}
.about-header .avater {
  position: absolute;
  right: 0px;
  top: 5px;
}

.about-card {
  border-radius: 20px;
  background: #FFF;
  padding: 32px;
  margin-top: 50px;
}
.about-card .about-img {
  overflow: hidden;
  border-radius: 20px;
}
.about-card .about-img img {
  width: 100%;
}
.about-card .about-text {
  padding-left: 20px;
  position: relative;
}
.about-card .about-text .star-icon {
  position: absolute;
  top: 10px;
  right: 0px;
}
.about-card .about-text h3 {
  color: #939393;
  font-size: 44px;
  font-weight: 400;
  line-height: 136.364%;
  letter-spacing: -0.88px;
  margin-bottom: 12px;
}
.about-card .about-text h3 span {
  font-weight: 700;
  color: #000;
}
.about-card .about-text p {
  color: #1C1C1C;
  font-size: 18px;
  font-weight: 400;
  line-height: 138.889%;
  margin-bottom: 25px;
}
.about-card .about-text .priary-btn {
  width: 130px;
}

/*-- about-section style end --*/
/*-- our-patners-section start --*/
.our-patners-section {
  background: #1D417F;
  padding: 50px 0px;
  overflow-x: hidden;
}

.our-patners-section h2 {
  color: #FFFFFF;
  font-size: 39px;
  font-weight: 700;
  letter-spacing: -0.78px;
  text-transform: uppercase;
  text-align: center;
}

.our-patners-smoth-slider .patners-list {
  margin-top: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
}
.our-patners-smoth-slider .patners-list ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 100px;
  animation: smothslider 30s linear infinite;
}
.our-patners-smoth-slider .patners-list.revarse {
  justify-content: flex-end;
}
.our-patners-smoth-slider .patners-list.revarse ul {
  justify-content: flex-end;
  animation: smothslider-revarse 30s linear infinite;
}

@keyframes smothslider {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes smothslider-revarse {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
/*-- our-patners-section end --*/
/*-- testimonials style start --*/
.testimonials-section {
  padding: 100px 0px;
}
.testimonials-section .section-title {
  max-width: 800px;
  margin: auto;
}
.testimonials-section .section-title p {
  max-width: 565px;
  margin: auto;
}
.testimonials-section .testimonials-content {
  margin-top: 50px;
}
.testimonials-section .testimonials-slider {
  margin: 0px 150px;
  position: relative;
}
.testimonials-section .testimonials-slider .slick-next {
  height: 50px;
  width: 50px;
  background: #DBEAFE;
  border: 1px solid #DBEAFE;
  border-radius: 50%;
  right: 46%;
  transform: translateY(32px);
  top: 100%;
  z-index: 11;
  transition: 0.2s;
}
.testimonials-section .testimonials-slider .slick-next::before {
  content: url(../images/icons/arrow-right.svg);
  transition: 0.2s;
}
.testimonials-section .testimonials-slider .slick-next:hover {
  background: #1D417F;
  border: 1px solid #000;
}
.testimonials-section .testimonials-slider .slick-next:hover::before {
  filter: brightness(100);
}
.testimonials-section .testimonials-slider .slick-prev {
  height: 50px;
  width: 50px;
  background: #DBEAFE;
  border: 1px solid #DBEAFE;
  border-radius: 50%;
  left: 46%;
  transform: translateY(32px);
  top: 100%;
  z-index: 11;
  transition: 0.2s;
}
.testimonials-section .testimonials-slider .slick-prev::before {
  content: url(../images/icons/arrow-left.svg);
  transition: 0.2s;
}
.testimonials-section .testimonials-slider .slick-prev:hover {
  background: #1D417F;
  border: 1px solid #000;
}
.testimonials-section .testimonials-slider .slick-prev:hover::before {
  filter: brightness(100);
}
.testimonials-section .testimonials-slider .slick-current.slick-active.slick-center .testimonials-card {
  background: #1D417F;
}
.testimonials-section .testimonials-slider .slick-current.slick-active.slick-center .testimonials-card p {
  color: #FFFFFF;
}
.testimonials-section .testimonials-slider .slick-current.slick-active.slick-center .testimonials-card .user h5 {
  color: #FFFFFF;
}
.testimonials-section .testimonials-slider .slick-current.slick-active.slick-center .testimonials-card .user h6 {
  color: #FFFFFF;
}
.testimonials-section .testimonials-slider .slick-current.slick-active.slick-center .testimonials-card .testimonials-logo .light {
  display: block;
}
.testimonials-section .testimonials-slider .slick-current.slick-active.slick-center .testimonials-card .testimonials-logo .dark {
  display: none;
}
.testimonials-section .testimonials-card {
  border-radius: 15px;
  background: #FFF;
  box-shadow: 0px 4px 56px 0px rgba(0, 0, 0, 0.05);
  padding: 24px;
}
.testimonials-section .testimonials-card ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  margin-bottom: 20px;
}
.testimonials-section .testimonials-card p {
  margin-bottom: 30px;
  color: #000;
  font-size: 16px;
  font-weight: 600;
  line-height: 156.25%;
}
.testimonials-section .testimonials-card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.testimonials-section .testimonials-card-footer .user {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.testimonials-section .testimonials-card-footer .user .user-img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 49px;
  width: 49px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}
.testimonials-section .testimonials-card-footer .user .user-img img {
  height: 100%;
  width: 100%;
  position: absolute;
}
.testimonials-section .testimonials-card-footer .user .user-text h5 {
  color: #000;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.36px;
  margin-bottom: 2px;
}
.testimonials-section .testimonials-card-footer .user .user-text h6 {
  color: #4A4A4A;
  font-size: 14px;
  font-weight: 400;
}
.testimonials-section .testimonials-card-footer .testimonials-logo .light {
  display: none;
}
.testimonials-section .testimonials-card-footer .testimonials-logo .dark {
  display: block;
}

/*-- testimonials style end --*/
/*-- faq style start --*/
.faq-section {
  padding: 80px 0px 100px 0px;
}
.faq-section .faq-header {
  position: relative;
}
.faq-section .faq-header .section-title {
  max-width: 760px;
  margin: auto;
}
.faq-section .faq-header .section-title p {
  max-width: 625px;
  margin: auto;
}
.faq-section .faq-header .avater {
  position: absolute;
  right: 0px;
  top: 5px;
}

.faq-content {
  padding-top: 50px;
  max-width: 832px;
  width: 100%;
  margin: auto;
  position: relative;
}
.faq-content .shape {
  transform: rotate(-23deg);
  position: absolute;
  left: -26px;
  bottom: -25px;
  z-index: 0;
  z-index: 0;
}
.faq-content .accordion-item {
  margin-bottom: 25px;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  background: #FFF;
  box-shadow: 0px 4px 48px 0px rgba(0, 0, 0, 0.07);
  padding: 0px 32px;
  position: relative;
  z-index: 1;
}
.faq-content .accordion-item .accordion-button {
  padding: 25px 0px;
  color: #000;
  font-size: 20px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.4px;
  box-shadow: none !important;
}
.faq-content .accordion-item .accordion-button::after {
  background: transparent;
  content: url(../images/icons/plus.svg);
}
.faq-content .accordion-item .accordion-button:focus-visible {
  outline: none;
}
.faq-content .accordion-item .accordion-button:focus {
  box-shadow: none;
}
.faq-content .accordion-item p {
  color: #E4E4E7;
  font-size: 16px;
  font-weight: 600;
  line-height: 153.7%;
}
.faq-content .accordion-item.active {
  background: #1D417F;
}
.faq-content .accordion-item.active .accordion-header {
  border: none !important;
  outline: none;
}
.faq-content .accordion-item.active .accordion-button {
  background: transparent;
  color: #FFFFFF;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: none !important;
}
.faq-content .accordion-item.active .accordion-button::after {
  background: transparent;
  content: url(../images/icons/minus.svg);
}
.faq-content .accordion-item.active .accordion-body {
  padding: 14px 0px 28px 0px;
  border: none;
}

/*-- faq style end --*/
/*-- contact style start --*/
.contact-section {
  border-radius: 20px;
  background: #FAFAFA;
  box-shadow: 0px 4px 48px 0px rgba(0, 0, 0, 0.11);
  padding: 50px 0px;
}

.contant-title {
  margin-bottom: 32px;
  margin-top: 20px;
  max-width: 360px;
}
.contant-title h2 {
  color: #000;
  font-size: 39px;
  font-weight: 700;
  letter-spacing: -0.78px;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.contant-title p {
  color: #1C1C1C;
  font-size: 18px;
  font-weight: 400;
  line-height: 138.889%;
}

.contact-card {
  border-radius: 15px;
  background: #FFF;
  padding: 24px;
  max-width: 328px;
  margin-bottom: 20px;
}
.contact-card .contact-icon {
  width: 69px;
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 13px;
  background: #DBEAFE;
  margin-bottom: 24px;
  overflow: hidden;
}
.contact-card a {
  margin-bottom: 15px;
  display: flex;
  color: #000;
  font-size: 25px;
  font-weight: 700;
}
.contact-card a span {
  font-family: monospace;
}
.contact-card p {
  color: #4A4A4A;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}

.contact-form {
  border-radius: 20px;
  background: #FFF;
  padding: 32px;
}

.contact-form-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}
.contact-form-title h2 {
  color: #000;
  font-size: 50px;
  font-weight: 600;
  letter-spacing: -1px;
}

.custom-input {
  margin-bottom: 24px;
}
.custom-input label {
  color: #666;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.32px;
  margin-bottom: 10px;
  width: 100%;
}
.custom-input input {
  border-radius: 12px;
  background: #F5F5F5;
  padding: 5px 20px;
  height: 55px;
  width: 100%;
  border: none;
  outline: none !important;
  box-shadow: none !important;
  color: #000;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.32px;
}
.custom-input textarea {
  border-radius: 12px;
  background: #F5F5F5;
  padding: 18px 20px;
  height: 156px;
  width: 100%;
  border: none;
  outline: none !important;
  box-shadow: none !important;
  color: #000;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.32px;
}
.custom-input .custom-dropdown {
  border-radius: 12px;
  background: #F5F5F5;
  width: 100%;
  position: relative;
  cursor: pointer;
}
.custom-input .custom-dropdown::after {
  content: url(../images/icons/dropdown.svg);
  position: absolute;
  right: 20px;
  top: 17px;
  z-index: 0;
}
.custom-input .custom-dropdown select {
  padding: 5px 20px;
  height: 55px;
  width: 100%;
  color: #000;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.32px;
  background: transparent;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  outline: none !important;
  box-shadow: none !important;
  position: relative;
  z-index: 1;
}

/*-- contact style end --*/
/*-- footer style start --*/
.footer-section {
  padding: 44px 0px;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-content p a {
  color: #000;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 16px;
  font-weight: 600;
}
.footer-content p a span {
  font-family: system-ui;
}
.footer-content .footer-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
}
.footer-content .footer-menu li a {
  color: #000;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 16px;
  font-weight: 600;
}

/*-- footer style end --*/